<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发说说</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- axios ajax-promise库 -->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <!-- Vue-mvvm -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <style>
        .container {
            padding: 10vh 10vw;
        }
    </style>
</head>

<body>
    <div class="container" id="root">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align: right">
                <div class="form-group">
                    {{username}}
                    <a href="#" onclick="claerCookies()">退出</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <section>
                    <div class="form-group">
                        <label>标题</label>
                        <input id="title" class="form-control" type="text" placeholder="最少四个字符">
                    </div>
                    <div class="form-group">
                        <label>内容</label>
                        <textarea id="content" class="form-control" rows="3" placeholder="请输入内容"></textarea>
                    </div>
                    <input type="button" class="btn btn-default" value="发表" id="submit">
                </section>
            </div>
            <footer class="col-md-12 col-xs-12" style="text-align: center">
                <hr>
                <div class="form-group">2018 &copy; 基佬康</div>
            </footer>
        </div>
    </div>
    <script>
        var fuckVue = new Vue({
            el: '#root',
            data: {},
            computed: {
                username() {
                    const cookie = document.cookie
                    userLocation = cookie.search('username=')
                    return cookie.slice(userLocation + 9)
                }
            }
        });


        let submitDom = document.getElementById('submit')

        submitDom.addEventListener('click', function () {
            let title = document.getElementById('title')
            let content = document.getElementById('content')
            if (title.value.toString().length >= 4) {
                if (content.value.toString().length >= 4) {
                    axios.post('/pushpost', {
                            author: fuckVue.username,
                            date: Date().toString(),
                            title: title.value,
                            content: content.value
                        })
                        .then(() => {
                            location.href = 'showpost'
                        })
                    title.value = content.value = null
                } else {
                    alert('内容太少了')
                }
            } else {
                alert('标题太短了')
            }
        })



        function claerCookies() {
            axios.delete('/', {
                claerCookies: true
            })
            location.href = '/'
        }
    </script>
</body>

</html>